.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    width: 100%;
  }