{% extends "base.html" %}

{% block content %}

<h2> Sign Up Here </h2>
<form action="" method="post">
  <p>
    {{form.age.label}} <br>
    {{form.age(size=30)}}
  </p>
  <p>
    {{form.underlying.label}} <br>
    {{form.underlying(size=30)}}
  </p>
  <p>
    {{form.fever.label}} <br>
    {{form.fever(size=30)}}
  </p>
  <p>
    {{form.shortnessOfBreath.label}} <br>
    {{form.shortnessOfBreath(size=30)}}
  </p>
  <p>
    {{form.lossOfTaste.label}} <br>
    {{form.lossOfTaste(size=30)}}
  </p>
  <p>
    {{form.soreThroat.label}} <br>
    {{form.soreThroat(size=30)}}
  </p>
  <p>
    {{form.riskFactor.label}} <br>
    {{form.riskFactor(size=30)}}
  </p>
  <p>{{form.submit()}}</p>
</form>

{% endblock %}